n8n_workflows/scanexam_flujo_principal.json
{
  "id": "scanexamMain0001",
  "name": "ScanExam - Flujo principal",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "scanexam",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a0000000-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        180,
        300
      ],
      "webhookId": "scanexam-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://scanexam-app:8000/pipeline/build-batch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"source\": \"{{ $('Webhook').item.json.body.source }}\", \"batch_id\": \"{{ $('Webhook').item.json.body.batch_id }}\" }",
        "options": {}
      },
      "id": "a0000000-0000-0000-0000-000000000002",
      "name": "P3: build-batch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://scanexam-app:8000/pipeline/run-vision",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"batch_id\": \"{{ $('Webhook').item.json.body.batch_id }}\" }",
        "options": {}
      },
      "id": "a0000000-0000-0000-0000-000000000003",
      "name": "P2: run-vision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://scanexam-app:8000/pipeline/crops-classify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"batch_id\": \"{{ $('Webhook').item.json.body.batch_id }}\" }",
        "options": {}
      },
      "id": "a0000000-0000-0000-0000-000000000004",
      "name": "P3: crops-classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://scanexam-app:8000/pipeline/score",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"batch_id\": \"{{ $('Webhook').item.json.body.batch_id }}\" }",
        "options": {}
      },
      "id": "a0000000-0000-0000-0000-000000000005",
      "name": "P3: score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "a0000000-0000-0000-0000-000000000006",
      "name": "Responder resultados",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1280,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "P3: build-batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P3: build-batch": {
      "main": [
        [
          {
            "node": "P2: run-vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P2: run-vision": {
      "main": [
        [
          {
            "node": "P3: crops-classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P3: crops-classify": {
      "main": [
        [
          {
            "node": "P3: score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "P3: score": {
      "main": [
        [
          {
            "node": "Responder resultados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}